.container {
	display: flex;

	.side-bar {
		flex-shrink: 0;
		width: 20%;
		min-width: 150px;
		max-width: 300px;
		padding: 35px 10px 10px;
	}

	.content {
		flex-grow: 4;
		padding: 35px 10px 10px;
	}
}

.spacer {
	flex-grow: 1
}

.toolbar {
	padding-right: 5px;
	min-height: 0;
	display: block;

	&-row {
		display: flex;
		align-items: center;
	}

	&-cell {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.avatar {
	margin: 0;
	cursor: pointer;

	&-selected {
		background-color: #FF9100;
		cursor: pointer;
	}

	&-static {
		margin: 0;

		&-root {
			margin-right: 20px;
		}
	}
}

.checkbox {
	margin-left: 10px;
}

.inline-group {
	display: flex;
	align-items: center;
}

.form-group {
	margin-bottom: 20px;

	.form-label {
		margin-bottom: 8px;
	}

	.form-cell {
		flex-grow: 1;
	}
}

.form-list {
	max-height: 300px;
	overflow-y: scroll;
	margin-left: 5px;
	margin-right: 5px;

	.subheader {
		background-color: white;
	}
}

.form-row {
	display: flex;
	justify-content: space-evenly;
}

.dialog-title {
	margin-bottom: 26px;
}

.dialog, .dialog-content, .dialog-paper {
	overflow: visible;
}