.root {
	padding: 14px;

	.divider {
		margin-bottom: 8px;
	}

	.spinner-container, .edit-page-header {
		display: flex;
		align-items: center;
	}
	
	.spacer {
		flex-grow: 1;
	}
	
	.spinner-container {
		justify-content: center;
	}
	
	.edit-page-header {
		margin-bottom: 8px;
	}

	.editor {
		text-decoration: underline;
		text-decoration-style: dashed;
		cursor: pointer;

		&:hover {
			background-color: black;
			color: white;
		}
	}

	.text-field {
		font-family: inherit;
		font-size: inherit;

		&-root {
			display: flex;
			align-items: center;
		}
	}
}