.icon-button {
	color: #77777F;
	cursor: pointer;
}

.icon-button.active {
	color: #EEA00F;
}

.icon-button:hover {
	color: #FF7733;
}

.header-bar-item {
	margin: 5px;
}

.grow {
	flex-grow: 1;
}

.app-bar {
	display: flex;
}

.menu-item {
	display: flex;
	justify-content: space-between;
}