.overflow {
	overflow: visible;
}

.form-group {
	margin-bottom: 20px;
}

.row {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
}

.row-input {
	margin: 0 5px 0 5px;
	flex-grow: 1;
}

.row-input-big {
	margin: 0 5px 0 5px;
	flex-grow: 2;
}

.flex-spacing {
	flex-grow: 1;
}

.form-label {
	margin-bottom: 8px;
}