.container {
	display: flex;
	justify-content: center;

	.paper {
		padding: 20px 20px 0;
		margin: 45px 10px 45px;
		max-width: 600px;
		flex-grow: 1;

		.previous-button {
			margin-right: 5px;
		}

		.loading-spinner, .not-found {
			display: flex;
			justify-content: center;
		}

		.form-title {
			margin-bottom: 32px;
			text-align: center;
		}

		.question {
			margin-bottom: 24px;
			
			&-title {
				margin-bottom: 2px;
			}

			&-subtitle {
				margin-bottom: 8px;
			}

			&-required:after {
				content: '*';
				color: red;
				margin-left: 4px;
			}

			&-error {
				color: red;
			}
	
			&:last-child {
				margin-bottom: 36px;
			}
		}
	}
}